---

type typeColor = 'blue' | 'orange' | 'green' | 'grey' | 'yellow' | 'red' |'turques'


interface Props{
    src:string,
    shadowColor: typeColor
}

const { src , shadowColor} = Astro.props
---

<figure class={"galleryItem w-full isolate " + shadowColor }>
    <div class="w-full h-60 bg-white p-1 border-2 border-black rounded-2xl">
        <img class="block object-cover w-full h-full rounded-2xl" src={src} alt="imagen">
    </div>
</figure>
<style>
	.galleryItem{
		position: relative;
	}
	.galleryItem::after{
		position: absolute;
		content: '';
		inset: 0;
		border-radius: 1.5rem;
		border: 2px solid black;
		transform: translate(7px,7px);
		z-index: -1;
	}

	.galleryItem.orange::after{
		background-color: #FFE9DF;
	}

	.galleryItem.blue::after{
		background-color: #D6F2FF;
	}

	.galleryItem.green::after{
		background-color: #d2ffd3;
	}

	.galleryItem.grey::after{
		background-color: #F1F2F8;
	}
	.galleryItem.yellow::after{
		background-color: #FEF4D0;
	}
	.galleryItem.red::after{
		background-color: #FFEBE5;
	}
	.galleryItem.turques::after{
		background-color: #cdfffc;
	}
</style>