---
import Container from "../components/Container.astro";
---

<footer class="border-t-2 border-t-black bg-[#E9F5F5]">
    <Container>
        <div class="h-20 flex items-center justify-between">
            <span class="font-semibold">LiliCross</span>
            <span class="font-semibold">2024</span>
        </div>
    </Container>
</footer>